.main-container {
  height: 100%;
  max-width: 996px;
  margin: 4rem auto;
  padding: 2rem;
  background-color: #FFFFFF;
  border-radius: 12px;

  .form-fields {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 1.25rem;
    row-gap: 0.75rem;
  }

  .other-components {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
  }
}

.mat-divider {
  margin-bottom: 2rem;
}

// Custom Card
.card-body {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105px;
  width: 102px;
  background-color: #E1E7E5;
  border-radius: 6px;
  font-size: 14px;
  color: #6B7578;
  text-align: center;
}
