<div class="main-container">
  <div class="form-fields">
    <h2 class="mb-m">Form Elements</h2>
    <!-- Form Field -->
    <h5 class="mb-xs">1.1 Form Field</h5>
    <mat-form-field appearance="outline">
      <mat-label>Input</mat-label>
      <input matInput placeholder="Input">
    </mat-form-field>
    <!-- Auto Clear -->
    <h5 class="mb-xs mt-xs">1.2 Auto clear</h5>
    <mat-form-field appearance="outline">
      <mat-label>Input</mat-label>
      <input matInput [formControl]="autoClearField" placeholder="Input">
      <mat-icon matSuffix class="cursor-pointer" (click)="clearFormField(autoClearField)">close</mat-icon>
    </mat-form-field>
    <!-- With Error -->
    <h5 class="mb-xs mt-xs">1.2 Error Field</h5>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="emailField" placeholder="Email" required>
      <mat-error *ngIf="emailField.hasError('required')">
        Please enter an email address.
      </mat-error>
      <mat-error *ngIf="emailField.hasError('email')">
        Please use valid email address.
      </mat-error>
    </mat-form-field>
    <!-- Disabled -->
    <h5 class="mb-xs mt-xs">1.3 Disabled Field</h5>
    <mat-form-field appearance="outline">
      <mat-label>Input</mat-label>
      <input matInput placeholder="Input" disabled>
    </mat-form-field>
    <!-- Radio Button -->
    <h5 class="mb-m mt-xs">1.4 Radio Button</h5>
    <div>
      <mat-radio-group color="primary" class="mat-radio-layout-vertical" aria-label="Select an option" >
        <mat-radio-button value="1">Option 1</mat-radio-button>
        <mat-radio-button value="2">Option 2</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="other-components">
    <!-- Cards -->
    <h3 class="mb-m">Card</h3>
    <mat-card class="mb-l">
      <div class="card-body">
        <div class="card-details">
          <h3 class="text-green font-weight-regular mb-sm">Hello, Dr. Robert Fox</h3>
          <p class="mb-sm">Today you have 12 appointments</p>
          <button mat-flat-button color="primary" class="mat-button-curved">Open Calendar</button>
        </div>
        <div class="card-img">
          Image placeholder
        </div>
      </div>
    </mat-card>
  </div>
</div>
